build*/*
altium/cyclon4board/History/*
altium/mothetboard/mothetboard_PCB_Project/History/*
altium/mothetboard/mothetboard_PCB_Project/*Logs*/*
altium/mothetboard/mothetboard_PCB_Project/*Previews*/*

altium/mothetboard/ilxboard\ILX_BOARD/History/*
altium/mothetboard/ilxboard\ILX_BOARD/*Logs*/*
altium/mothetboard/ilxboard\ILX_BOARD/*Previews*/*